
@font-face {
    font-family: 'DungGeunMo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body{
    margin: 0px;
}

a{
    text-decoration: none;
}

.row{
    width: 1280px;
    display: flex;
    margin: auto;
}

#outside{
    background-image: url(img/바깥-100.jpg);
    width: 100%;
    height: 1080px;
}

#Xflower{
    background-image: url(img/시든꽃밭.jpg);
    width: 100%;
    height: 1080px;
}

#treeforest{
    background-image: url(img/Landscape.jpg);
    width: 100%;
    height: 1080px;
}

#threeload{
    background-image: url(img/세갈래길-100.jpg);
    width: 100%;
    height: 1080px;
}

#magicforest{
    background-image: url(img/magicLandscape.jpg);
    width: 100%;
    height: 1080px;
}

#house{
    background-image: url(img/normalLandscape.jpg);
    width: 100%;
    height: 1080px;
}

#flower{
    background-image: url(img/flowerLandscape.jpg);
    width: 100%;
    height: 1080px;
}

#intro{
    background-image: url(img/intro.jpg);
    width: 100%;
    height: 1080px;
}


#beeBox{
    justify-content: center;
    height: 700PX;
}

#hobakBox{
    justify-content: center;
    height: 600PX;
    padding: 100px 0px 0px 0px;
    
}

#textBox{

    border: 3px solid rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 50px;
    height: 100px;
    width: 1000px;
    margin-bottom: 30px;
} 

#replaybox{
    border: 3px solid rgb(255, 4, 4);
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 50px;
    height: 100px;
    width: 300px;
    margin-bottom: 30px;
} 

#startbox{
    border: 8px solid rgb(255, 0, 0);
    background-color: rgba(255, 255, 255, 0.548);
    border-radius: 80px;
    height: 150px;
    width: 350px;
    margin-bottom: 30px;
   
} 

#STARTTEXT{
    font-family: 'DungGeunMo';
    font-weight: normal;
    font-style: normal;
    display: flex;
    align-items: center;
    font-size: 70px;
    margin-left: 15px;
}

#REPLAYTEXT{
    font-family: 'DungGeunMo';
    font-weight: normal;
    font-style: normal;
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-left: px;
}



#TEXT{
    font-family: 'DungGeunMo';
    font-weight: normal;
    font-style: normal;
    display: flex;
    align-items: center;
}

#helloText{
    margin-left: 60px;
}

#nexter{
 background-image: url(img/다음아이콘.png);
 background-size: 30px 30px;
    width: 30px;
    height: 30px;
    
    margin-left: 10px;
}

#selecter{
    width: 100%;
}


